<%- include("partials/head")%>
    <%- include("partials/navbar")%>
        <h1>Your random number for today is: <%= rand %>
        </h1>

        <% if(rand % 2===0){ %>
            <h2>That is an even number!</h2>
            <% } else {%>
                <h2>That is an odd number!</h2>
                <% } %>
                    <h3>
                        <%= rand%2===0 ? "Even" : "Odd" %>
                    </h3>
                    <%- include("partials/footer")%>